<app-search></app-search>
<app-tags></app-tags>

<app-not-found *ngIf="foods.length <=0" messageDisplay="Food not found" messageRedirect="Reset Search"></app-not-found>
<div class="container">
    <ul>
        <li *ngFor="let food of foods">
            <a routerLink="/food/{{food.id}}">
                <img [src]="food.imageUrl" [alt]="food.name">
                <div class="title">
                    <span class="food-name">  {{food.name}}</span>
                    <span class="favorite {{food.favorite?'':'not'}}" >❤</span>
                </div>
                <div class="details">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">{{origin}}</span>
                    </div>
                    <div class="cook-time">🕒 {{food.cookTime}}
                    </div>
                </div>
                <div class="price">{{food.price | currency}}</div>
            </a>    
        </li>
    </ul>
</div>  